name: appshopbanthucung
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  animated_bottom_navigation_bar: ^1.4.0
  firebase_core: ^4.3.0
  firebase_database: ^12.1.1
  onesignal_flutter: ^5.3.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/

